{% extends 'base.html' %}

{% block contenido %}
    {% if user.is_authenticated and user.is_staff %}
        <a href="{% url 'agregar_subcategoria' categoria.pk %}" class="btn btn-success mt-3">+ Agregar subcategor&iacute;a</a>
    {% endif %}
    <div class="container d-flex flex-row mt-3 justify-content-evenly">
        {% for subcategoria in subcategorias %}
            <div class="card">
                <a href="{% url 'lista_productos' categoria.pk subcategoria.pk %}">
                    <img src="{{ subcategoria.fotografia.url }}" class="card-img-top">
                </a>
                <div class="card-body">
                    <p class="card-text text-center">{{ subcategoria }}</p>
                </div>
                {% if user.is_authenticated and user.is_staff %}
                    <div class="card-footer d-flex justify-content-evenly">
                        <a href="{% url 'editar_subcategoria' categoria.pk subcategoria.pk %}" class="btn btn-primary">Editar</a>
                        <a href="{% url 'eliminar_subcategoria' categoria.pk subcategoria.pk %}" class="btn btn-danger">Eliminar</a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock contenido %}